<div>
  <p>
    Thank you for your order. Instructions have been sent to your e-mail address.<br/>
    You can find a link with instructions on how to pay below:
  </p>

  <%= link_to source.instructions_url do %>
    How to make a bank transfer payment
  <% end %>
</div>
<br>

<div class='alert alert-info' role='alert'>
  <h4>Order ID</h4>
  <p><%= source.order_id %></p>
  <h4>End Date</h4>
  <p><%= source.expires_at %></p>
</div>
