<div>
  Thank you for your order. Instructions have been sent to your e-mail address.<br>
  To complete a payment at <strong><%= link_to "purchase page", source.pay_url %></strong>.<br>
  <br>
  <%= link_to source.instructions_url do %>
    How to make a payment.
  <% end %>
</div>
