<div class="well clearfix">
  <% param_prefix = "payment_source[#{payment_method.id}]" %>

  <% Spree::Konbini::STORES.each do |store| %>
    <label>
      <%= radio_button "#{param_prefix}", "convenience", store %>
      <%= image_tag "#{store}.png" %>
      <span><%= Spree.t("conveniences.#{store}") %></span>
    </label><br />
  <% end %>
</div>
